/* Calculator Styling */
@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ojuju", sans-serif;
  line-height: 1.6;
  background-color: #323334;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #f4f5f6;
  padding: 10px;
  margin-top: 10px;
}

.calculator {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  background-color: #f4f5f6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.calculator input[type="text"] {
  width: 60px;
  height: 40px;
  margin: 20px 5px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  width: calc(100% - 10px);
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.9);
}

.calculator input[type="text"]:hover {
  border-color: #aaaaaa;
}

.calculator button {
    width: 100%;
    max-width: 70px;
    height: auto;
    padding: 10px 30px;
    margin: 5px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #bebcbc;
    border-radius: 5px;
    text-align: center;
    color: #333333;
    background-color: rgba(216, 216, 216, 0.9);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  

.calculator button:hover {
  background-color: rgba(170, 170, 170, 0.9);
  color: #ffffff;
}
